*{
    padding: 0px;
    margin: 0px;
}

/* Start Nav */

.nav_logo{
    width: 180px;
    height: 100px;
    margin-top: 15px;
    margin-left: 100px;
}

.nav_item{
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}

.nav_item li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav_item li a:hover{
    color: palevioletred;
}

.cart_noti{
    position: relative;
    top: -20px;
    right: 75px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    color: white;
}

.nav{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.cart_nav_item{
    margin-right: 70px;
}

/* Start Banner */

.carousel_img{
    width: 100%
}

.carousel_text{
    position: absolute;
    top: 160px;
    left: 85px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
}

carousel_text h2{
    margin-bottom: 15px;
}

.shop_now{
    margin-top: 15px;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: 1px solid red;
    border-radius: 5px;

}

.shop_now:hover{
    cursor: pointer;
}